{{define "contactviewshort"}}
  <div class='form_name'>Contact ID:</div> {{.ID}} <a id="return_to_contact" name="return_to_contact" href="/view/contact/{{.ID}}">Link</a><br/>
  <div class='form_name'>Contact State</div> {{.State}}<br/>
  <br/>
{{end}}
