{{define "contacthold"}}
<html lang="en">
  {{template "header"}}
  <body role="document">
    {{template "navbar"}}

    <div class="container" role="main">

      <div class="page-header">
        <h1>Contact Hold Request</h1>
      </div>
      <div class="container">
        {{template "contactviewshort" .Con}}
        {{template "holdstatus" .Con}}
        {{template "holdform" dict "Obj" .Con "CSRFToken" .GetCSRFToken}}
    </div>
  </body>
</html>
{{end}}
