{{define "domainviewshort"}}
<div class='form_name'>Domain ID:</div> {{.ID}} <a id="return_to_domain" name="return_to_domain" href="/view/domain/{{.ID}}">Link</a><br/>
<div class='form_name'>Domain State</div> {{.State}}<br/>
<div class='form_name'>Domain Name:</div> {{.DomainName}}<br/>
<br/>
{{end}}
