{{define "error"}}
<!DOCTYPE html>
<html lang="en">
  {{template "header"}}

  <body role="document">

    {{template "navbar"}}

    <div class="container" role="main">

      <div class="page-header">
        <h1>An Error Has Occured</h1>
      </div>

      <div class="alert alert-danger">
        {{.ErrorMessage}}
      </div>
      <a href="{{.TargetLink}}">{{.TargetLinkText}}</a>
    </div>
  </body>
</html>
{{end}}
