{{define "hostviewshort"}}
<div class='form_name'>Host ID:</div> {{.ID}} <a id="return_to_host" name="return_to_host" href="/view/host/{{.ID}}">Link</a><br/>
<div class='form_name'>Host State</div> {{.State}}<br/>
<div class='form_name'>Host Name:</div> {{.HostName}}<br/>
<br/>
{{end}}
