{{define "navbar"}}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Go-Registrar</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/viewall/domain">Domains</a></li>
        <li><a href="/viewall/host">Hosts</a></li>
        <li><a href="/viewall/contact">Contacts</a></li>
        <li><a href="/viewall/approver">Approvers</a></li>
        <li><a href="/viewall/approverset">Approver Sets</a></li>
        <li><a href="/viewall/apiuser">API Users</a></li>
        <li><a href="/viewall/changerequest">Change Requests</a></li>
        <li><a href="/dbcheck">DB AutoMigrate</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
{{end}}
